@import "colors"; 
@import "typo";

#wrapper,#wrapper2{
	width: 648px;
	margin: 0 auto;
	padding: 72px;
}
#wrapper2{
	background-image: url('../images/4pt-base-line.png'); 
	background-repeat: repeat-y;
	background-size: 1280px 4px;
}